<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery.js"></script>
    <title>State Chart</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
    </style>
  </head>
  <body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script>
    "use strict";
        var years = [];
        var result;
        var horses_adopted = [];
        var burros_adopted = [];
        var horses_removed = [];
        var burros_removed = [];

        $.get("/statedata/{{st}}", function(data) {
            result=data;
            years = Object.keys(result);

            for (var i=0; i < years.length; i++) {
                var year = years[i];
                horses_adopted.push(result[year][0]);
                burros_adopted.push(result[year][1]);
                horses_removed.push(result[year][2]);
                burros_removed.push(result[year][3]);
            }


            Highcharts.chart('container', {
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: 'Horses and Burros in "State" over time'
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 400,
                    y: 50,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                xAxis: {
                    categories: years,
                },
                yAxis: {
                    title: {
                        text: '# of horses or burros'
                    }
                },
                tooltip: {
                    shared: true,
                    valueSuffix: ' '
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    areaspline: {
                        fillOpacity: 0.5
                    }
                },
                series: [{
                    name: 'Horses Adopted',
                    data: horses_adopted
                }, {
                    name: 'Burros Adopted',
                    data: burros_adopted
                }, {
                    name: 'Horses Removed',
                    data: horses_removed
                }, {
                    name: 'Burros Removed',
                    data: burros_removed
                }]


            });
         });
    </script>

    <div id="state_text" class="container-fluid">
    </div>
  </body>
</html>