<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery.js"></script>
    <title>State Chart</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
    </style>
  </head>
  <body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script>
    "use strict";
        var years = [];
        var year_object;
        var footnote_object;
        var footnote_list;
        var result;
        var header_start = "Adoptions and Removals in "
        var state_name;
        var header_finish = " Over Time"
        var horses_adopted = [];
        var burros_adopted = [];
        var horses_removed = [];
        var burros_removed = [];

        $.get("/statedata/{{st}}", function(data) {
            result=data;
            state_name=result.StateName;
            year_object=result.StateData;
            years=Object.keys(year_object);
            footnote_object=result.Footnotes
            footnote_list=Object.keys(footnote_object)

            for (var i=0; i < years.length; i++) {
                var year = years[i];
                horses_adopted.push(year_object[year][0]);
                burros_adopted.push(year_object[year][1]);
                horses_removed.push(year_object[year][2]);
                burros_removed.push(year_object[year][3]);
            }
            var header = header_start.concat(state_name, header_finish);

            Highcharts.setOptions({
                lang: {
                    thousandsSep: ','
                }
            });

            Highcharts.chart('container', {
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: header
                },
                subtitle: {
                    text: "Source: BLM"
                },
                legend: {
                    // layout: 'vertical',
                    // align: 'left',
                    // verticalAlign: 'top',
                    // // x: 400,
                    // y: 50,
                    // floating: true,
                    borderWidth: 0,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                xAxis: {
                    categories: years,
                },
                yAxis: {
                    title: {
                        text: '# of horses or burros'
                    }
                },
                tooltip: {
                    shared: false,
                    valueSuffix: ' '
                },
                credits: {
                    enabled: true,
                    text: 'Example.com',
                    href: 'http://www.example.com',
                    position: {
                        align: 'left',
                        x: 20
                    }
                },
                plotOptions: {
                    areaspline: {
                        fillOpacity: 0.5
                    }
                },
                series: [{
                    name: 'Horses Adopted',
                    data: horses_adopted
                }, {
                    name: 'Burros Adopted',
                    data: burros_adopted
                }, {
                    name: 'Horses Removed',
                    data: horses_removed
                }, {
                    name: 'Burros Removed',
                    data: burros_removed
                }]


            });
         });
    </script>

    <div id="state_text" class="container-fluid">
    </div>
  </body>
</html>