<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery.js"></script>

    <title>BLM States Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      #state_text {
        height: 400px;
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      #info-box {
        height: 50px;
        width: 600px;
        outline: #666666 solid thin;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <div id="map"></div>
    <script>

      // when given state name return state id
      // function nameToId(name) {
      //   if ( name == "California" ) {
      //     return "CA"
      //   }
      //   else if ( name == "Nevada" ) {
      //     return "NV"
      //   }
      //   else if (name == 'Oregon') {
      //     return "OR"
      //   }
      // }

    function nameToId(name) {
      var name_dict = {'Arizona': 'AZ', 'California': 'CA', 'Colorado': 'CO', 'Eastern States': 'ES', 'Idaho': 'ID', 'Montana': 'MT', 'National Program': 'NAT', 'New Mexico': 'NM', 'Nevada': 'NV', 'Oregon': 'OR', 'Utah': 'UT', 'Wyoming': 'WY'};
      return name_dict[name]
    }

      function getCenter(feature) {
            var bounds = new google.maps.LatLngBounds();
            var listOfLatLngs = [];
            var geometry = feature.getGeometry();
            geometry.forEachLatLng(function(latlng) {
              listOfLatLngs.push(latlng);
            });
            for (var j = 0; j < listOfLatLngs.length; j++) {
              bounds.extend(listOfLatLngs[j]);
            }
             return bounds.getCenter();
          }

      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 40, lng: -115},
          draggable: false,
          zoomControl: false,
        });

        map.data.loadGeoJson('static/states.json');



        // Set the stroke width, and fill color for each polygon
        map.data.setStyle({
          fillColor: 'blue',
          strokeWeight: 1
        });

        // Set the fill color to red when the feature is clicked.
        map.data.addListener('click', function(event) {
          map.data.overrideStyle(event.feature, {fillColor: 'red'});
          // map.setZoom(5);
          var center = getCenter(event.feature)
          map.panTo(center)
          // window.open("http://0.0.0.0:5000/chart/"+nameToId(event.feature.getProperty('NAME')));
        });

        // When the user hovers, tempt them to click by outlining the letters.
        // Call revertStyle() to remove all overrides. This will use the style rules
        // defined in the function passed to setStyle()
        map.data.addListener('mouseover', function(event) {
          map.data.revertStyle();
          map.data.overrideStyle(event.feature, {strokeWeight: 3});
        });

        map.data.addListener('mouseout', function(event) {
          map.data.revertStyle();
        });

        // Set mouseover event for each feature.
        map.data.addListener('click', function(event) {
          var state_id = nameToId(event.feature.getProperty('NAME'));

          // Make a query to get the data for the state
          $.get("/statedata/"+state_id, function(popdata) {

            var years = [];
            var year_object;
            var result;
            var state_name;
            var horses_population = [];
            var burros_population = [];
            var blm_acreage = [];
            var other_acreage = [];

            result=popdata;
            state_name=result.StateName;
            year_object=result.PopData;
            years=Object.keys(year_object);

            for (var i=0; i < years.length; i++) {
                var year = years[i];
                horses_population.push(year_object[year][0]);
                burros_population.push(year_object[year][1]);
                blm_acreage.push(year_object[year][2]);
                other_acreage.push(year_object[year][3]);
            }
            var header = "Population of Horses and Burros in " + state_name +" Over Time" ;

            Highcharts.setOptions({
                lang: {
                    thousandsSep: ','
                }
            });

            Highcharts.chart('info-box', {
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: header
                },
                subtitle: {
                    text: "Source: BLM"
                },
                legend: {
                    // layout: 'vertical',
                    // align: 'left',
                    // verticalAlign: 'top',
                    // // x: 400,
                    // y: 50,
                    // floating: true,
                    borderWidth: 0,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                xAxis: [{
                    categories: years,
                    crosshair: true
                }],
                    yAxis: [{ // Primary yAxis
                    labels: {
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: 'Population',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    }
                }, { // Secondary yAxis
                    title: {
                        text: 'Acreage',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    labels: {
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    opposite: true
                }],
                tooltip: {
                    shared: false
                },
                legend: {
                    // layout: 'vertical',
                    // align: 'left',
                    // x: 120,
                    // verticalAlign: 'top',
                    // y: 100,
                    // floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                series: [{
                    name: 'BLM Acres',
                    type: 'column',
                    yAxis: 1,
                    data: blm_acreage,
                    tooltip: {
                        valueSuffix: ' acres'
                    }
                }, {
                    name: 'Other Acres',
                    type: 'column',
                    yAxis: 1,
                    data: other_acreage,
                    tooltip: {
                        valueSuffix: ' acres'
                    }
                }, {
                    name: 'Horse Population',
                    type: 'spline',
                    data: horses_population,
                    tooltip: {
                        valueSuffix: ' Horses'
                    }
                }, {
                    name: 'Burro Population',
                    type: 'spline',
                    data: burros_population,
                    tooltip: {
                        valueSuffix: ' Burros'
                    }

                }]
            });
         });

          // Create a new chart with the right target div id

          // document.getElementById('info-box').textContent =
          //     event.feature.getProperty('NAME');
        });

      }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ secret_key }}&callback=initMap"
    async defer></script>

    <div id="info-box" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <!-- <div id="info-box" class='container-fluid'></div> -->

    <div id="state_text" class="container-fluid">
    <h2>States</h2>
      {% for state in states %}
             <a href="/chart/{{state}}">{{states[state][0]}}</a><br>
      {% endfor %}


    </div>
  </body>
</html>