{% extends "base.html" %}
{% block title %}Herd Area Search{% endblock %}
{% block head %}
    {{ super() }}

    <style type="text/css">
    </style>
{% endblock %}
{% block content %}

<div id="searchable-container" class="container-fluid">
  <div>Search currently only works in Chrome.</div>
  <div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1" aria-hidden="true"></span>
    <input type="text" id="myInput" onkeyup="searchHerds()" class="form-control" placeholder="Search for a herd area">
  </div>
  <div id="list-group">
    {% for state in states %}{% if (state.name != "National Program" and state.name != "Eastern States") %}
    <a href="/map?state={{state.state_id}}" class="list-group-item list-group-item-action  list-group-item-info">
      <h4 class="list-group-item-heading">{{state.name}}</h4>
    </a>{% endif %}
        {% for herd in herds %}{% if (herd.state_id == state.state_id) %}
        <a href="/map?state={{herd.state_id}}&herd={{herd.herd_id|safe}}" class="list-group-item list-group-item-action searchable-item">{{herd.herd_name}}</a>
        {% endif %}{% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}