<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mustang Map</title>

    <script src="http://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="{{url_for('static', filename='charts.js')}}"></script>
    <script src="{{url_for('static', filename='maps.js')}}"></script>
    <link href="static/jumbotron-narrow.css" rel="stylesheet">

  </head>
  <body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div class="container">
      <div class="header clearfix">
        <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/map">Mustang Map</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View States<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for state in states %}
                    {% if (state.name != "National Program" and state.name != "Eastern States") %}
                <li><a onclick="loadStateFeatures('{{state.state_id}}', ['{{ ("', '".join(state.file_names))|safe }}'], {lat: {{state.latitude}}, lng: {{state.longitude}} }, {{state.zoom}})">{{state.name}}</a></li>
                    {% endif %}
                {% endfor %}
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Non State Zones</li>
                {% for state in states %}
                    {% if (state.name == "National Program" or state.name == "Eastern States") %}
                <li><a onclick ="loadStateFeatures()">{{state.name}}</a></li>
                    {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
        <script>
        var pop_data = {{all_pop|safe}};
        var year = 2015;
        var state_info_dict = {{states_dict|safe}};
        </script>
      <div class="jumbotron">
        <div id="map"></div>
        <div>
          <a class="btn btn-lg btn-success" role="button" onclick="loadNationalFeatures()">View National Data</a><br>
        </div>
      </div>


    </script>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Adoptions</h4>
          <div id="info-box-2" style="min-width: 500px; height: 200px; margin: 0 auto"></div>
        </div>

        <div class="col-lg-6">
          <h4>Population</h4>
          <div id="info-box" style="min-width: 350px; height: 200px; margin: 0 auto"></div>
        </div>
        <div>
            <br><br>
        </div>
        <div id="state-links" class="col-lg-12">
            <h4> View State Data</h4><br>
          {% for state in states %}
            <a class="btn btn-sm btn-success" role="button" onclick="loadStateFeatures('{{state.state_id}}', ['{{ ("', '".join(state.file_names))|safe }}'], {lat: {{state.latitude}}, lng: {{state.longitude}} }, {{state.zoom}})">{{state.name}}</a>
          {% endfor %}
    </div> <!-- /container -->

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ secret_key }}&callback=mapLoader"
    async defer></script>
  </body>
</html>
