{% extends "base.html" %}
{% block title %}Mustang Map{% endblock %}
{% block head %}
    {{ super() }}

    <style type="text/css">

    </style>
{% endblock %}
{% block content %}

        <script>
        var pop_data = {{all_pop|safe}};
        var year = 2015;
        var state_info_dict = {{states_dict|safe}};
        </script>
      <div class="jumbotron">
        <div id="map"></div>
        <div>
          <a class="btn btn-lg btn-success" role="button" onclick="loadNationalFeatures()">View National Data</a><br>
        </div>
      </div>


    </script>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Adoptions</h4>
          <div id="info-box-2" style="min-width: 500px; height: 200px; margin: 0 auto"></div>
        </div>

        <div class="col-lg-6">
          <h4>Population</h4>
          <div id="info-box" style="min-width: 350px; height: 200px; margin: 0 auto"></div>
        </div>
        <div>
            <br><br>
        </div>
        <div id="state-links" class="col-lg-12">
            <h4> View State Data</h4><br>
          {% for state in states %}
            <a class="btn btn-sm btn-success" role="button" onclick="loadStateFeatures('{{state.state_id}}', ['{{ ("', '".join(state.file_names))|safe }}'], {lat: {{state.latitude}}, lng: {{state.longitude}} }, {{state.zoom}})">{{state.name}}</a>
          {% endfor %}
    </div> <!-- /container -->

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ secret_key }}&callback=mapLoader"
    async defer></script>
{% endblock %}
