{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}

    <style type="text/css">
    </style>
{% endblock %}
{% block content %}

<!-- will need to use this: FB.getUserID() -->


<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

{% endblock %}