{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
    {{ super() }}

    <style type="text/css">

    </style>
{% endblock %}
{% block content %}


<div class="container" style="margin-top: 20px;">
  <div id="upload-div">
    <form class="form-upload" action="/upload" enctype="multipart/form-data" method="POST">
    <h2 class="form-upload-heading">Upload Pictures</h2>
      <label for="inputName" class="sr-only">Horse's Name</label>
        <input type="text" id="inputName" name="name" class="form-control" placeholder="Horse's Name (optional)">
      <label for="inputText" class="sr-only">Herd Area</label>
        <input type="herdID" name="herd_id" id="inputHerd" class="form-control" placeholder="Herd Area" required autofocus>
      <label for="inputPC" class="sr-only">Picture Credit</label>
        <input type="text" id="inputName" name="pc" class="form-control" placeholder="Picture Credit (optional)">
      <span class="pc-block">
        *Please include the photographer's name if the picture wasn't taken by you.
      </span>
      <div class="input-group">
        <label class="input-group-btn">
          <span class="btn btn-lg btn-primary btn-block">
            Browse&hellip; <input name="file" type="file" style="display: none;" multiple>
          </span>
        </label>
        <input type="text" class="form-control" readonly>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="terms" name="checkbox" value="True"><a href="#">I have agreed to the Terms and Conditions</a>
        </label>
      </div>
      <div>
        <button class="btn btn-lg btn-primary btn-block" id="upload" type="submit" value="upload">Submit</button>
      </div>
  </div>
</div>

<script>
$(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }
      });
  });
});

document.addEventListener("DOMContentLoaded", function (event) {
  var button = document.getElementById('upload');
  var clickBtn = document.getElementById('terms');

  // Disable the button on initial page load
  button.disabled = true;

  //add event listener
  clickBtn.addEventListener('change', function(event) {
      button.disabled = !button.disabled;
  });

  button.addEventListener('change', function(event) {
      alert('Enabled!');
  });
})

</script>

{% endblock %}